*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.hero-banner{
    width: 100%;
    height: 600px;
    background-image: url("../../images/header.png");
    clip-path: polygon(0 0, 100% 0,100% 80%,0% 100%);
}
.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000,$alpha: 0.5);
}
.hero-container{
    text-align: center;
    color: #fff;
}
.hero-title{
    font-family: "Merienda";
    font-size: 100px;
    font-weight: bold;
}
.hero-subtitle{
    font-size: 20px;
    letter-spacing: 6px;
}
.navbar{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: auto;
    background: rgba($color: #fff, $alpha: 0.8);
    ul{
        list-style: none;
        display: flex;
        a{
            display: block;
            padding: 20px;
            color: #333;
            text-decoration: none;

            &.active{
                color: #689f38;
            }
        }
    }
}
.mb_auto{
    margin-bottom: auto;
}