$primary-color: #689f38;
$color-white:#fff;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.hero{
    width: 100%;
    height: 600px;
    background-image: url("../../images/header.png");
    clip-path: polygon(0 0, 100% 0,100% 80%,0% 100%);
    &_title{
        font-family: "Merienda";
        font-size: 100px;
        font-weight: bold;
    }
    &_subtitle{
        font-size: 20px;
        letter-spacing: 6px;
    }
}
.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000,$alpha: 0.5);
}
.text-container{
    text-align: center;
    color: $color-white;
}

.navbar{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: auto;
    background: rgba($color: $color-white, $alpha: 0.8);
    ul{
        list-style: none;
        display: flex;
        a{
            display: block;
            padding: 20px;
            color: #333;
            text-decoration: none;

            &.active{
                color: $primary-color;
            }
        }
    }
}
.about, .menu{
    padding: 80px 0;
}
.mb_auto{
    margin-bottom: auto;
}
.text-center{
    text-align: center;
}
h2{
    margin-bottom: 70px;
    text-transform: uppercase;
    font-size: 35px;
    color: #333;
}
h3{
    color: #444;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 30px;
}
h4{
    color: #444;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
}
.rounded{
    border-radius: 4px;
}
.color-primary{
    color: $primary-color;
}
.line-space{
    line-height: 40px;
}
.color-secondary{
    color: #555 ;
}
.color-white{
    color: $color-white;
}
figure{
    position: relative;
    width: 310px;
    height: 310px;
    img{
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 10px 2px rgba($color: #000, $alpha: 0.2);
    }
    .back{
        position: absolute;
        top: 40px;
        left: -40px;
        width: 100%;
        height: 100%;
        background:$primary-color;
        z-index: -1;
    }
}
.about-icons{
    display: flex;
    width: 100px;
    height: 100px;
    color: $color-white;
    border-radius: 50%;
    background:$primary-color;
    i{
        font-size: 40px;
        margin: auto;
    }
}
.offer{
    width: 100%;
    height: 500px;
    background: url("../../images/offer.png");
    &_title{
        font-weight: 600;
        font-size: 50px;
        text-transform: uppercase;
    }
    &_subtitle{
        font-weight: 300;
        letter-spacing:5px;
    }
}

.offer-btn{
    display: inline-block;
    text-decoration: none;
    color: $primary-color;
    background-color: $color-white;
    padding: 10px  25px;
    margin-top: 15px;
    border-radius: 27px;
    transition: 0.4s all;
    &:hover{
        background-color:$primary-color;
        color: $color-white;
    }
}
.list{
    list-style: none;
    &_item{
        display: flex;
        justify-content: space-between;
        color: #707070;
        line-height: 50px;
    }
    &_price{
        color: $primary-color;
    }
}
.testimonial{
    width: 100%;
    height: 500px;
    background: url("../../images/testimonial.png");
}
.testimonials{
    width: 800px;
    background: rgba($color: $color-white, $alpha: 0.8);
    padding: 70px 30px;
    border-radius: 4px;
    &_text{
        color: #444;
        line-height: 40px;
        
    }
    &_user{
        font-size: 20px;
        font-weight: 400;
        color: $primary-color;
    }
}