
h1 {
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;
}

form {
	background-color: #fff;
	border: 1px solid $border-color;
	border-radius: 3px;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
	padding: 20px;
	max-width: 500px;
	margin: 0 auto;
}

label {
	display: block;
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
}

input[type="text"],
textarea,
input:not([type="submit"]), 
select {
	padding: 10px;
	border: 1px solid $border-color;
	border-radius: 3px;
	width: 100%;
	box-sizing: border-box;
	font-size: 16px;
	margin-bottom: 10px;
}

select {
	background-color: #fff;
}

button[type="submit"] {
	background-color: $secondary-color;
	color: $button-color;
	padding: 10px 20px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
    color: $secondary-color;
	background-color: $button-color;
    border: 1px solid $secondary-color;
}

.error-message {
	color: $error-color;
	font-size: 12px;
	margin-top: 5px;
}

.invalid{
	border: 1px solid $error-color;
	background-color: lighten($error-color, 45%);;	
}